.treemap {
  background: #fff;
}

.title {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
}

text {
  pointer-events: none;
}

div.treemap rect {
  fill: none;
  stroke: #fff;
}

div.treemap rect.parent {
    pointer-events: none;
}

.children rect.child {
  stroke: white;
  stroke-width: 2px;
  fill-opacity: 1;
  cursor: pointer;
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

.children rect.parent {
  stroke: white;
  stroke-width: 2px;
  fill-opacity: 0;
  visibility: hidden;
}

.children text.ptext {
  visibility: hidden;
}

.children:hover rect.child {
  fill: #bbb;
}
